ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: right;
}
a {
  display: block;
  padding: 8px;
  background-color: transparent;
  color: #222;
  font-size: 14px;
  font-family: arial,sans-serif;
}
.firstClass{
  display:flex;
  flex-direction:column;
  height:100%
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  height: 290px;
  max-height: 290px;
  min-height: 90px;
  width 1380px;
}
.logoClass {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
img[Attributes Style] {
  height: 92px;
  aspect-ratio: auto 272 / 92;
  width: 272px;
}

.imgClass {
  width: 26px;
  height: 14px;
}
/* Resize images */
.imgClass img {
  width: 100%;
  height: auto;
}
.searchClass {
  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  height: 160px;
  max-height: 160px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 990px;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: rgb (34, 34, 34);
}

